header
  height:1.2rem
  width:100%
  font-size:0.34rem
  text-align:center
  line-height:1.2rem
  color:#323232
form
  width:7rem
  margin:0 auto
.select
  width:4.5rem
  height:0.6rem
  outline:none
  font-size:0.3rem
  border:1px solid #bcbcbc
.select,label
  color:#717171
.type,.suggestion
  display:flex
.suggestion
  margin-top:0.4rem
label
  display: inline-block
  font-size:0.3rem
  margin-right:0.3rem
textarea
  padding:0
  width:5rem
  height:3rem
  resize: none
  font-size:0.3rem
  box-sizing:border-box
  padding:0.2rem
.next
  margin-top:0.6rem
.btn
  width:5.6rem
  height:0.7rem
  text-align:center
  font-size:0.36rem
  background-color:#ff895d
  margin:0 auto
  line-height:0.7rem
  border-radius:16px
  margin-top:1rem
  color:#fff